/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import 'bootstrap';

* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#logo {
	height: 100px;
	width: 100%;
	text-align: center;
}

form {
	text-align: center;
	#search-bar {
		margin: auto;
		text-align: left;
		width: 572px;
		height: 32px;
		border: 1px solid #cdcdcd;
		#search-bar__input {
			height: 24px;
			width: 530px;
			margin: 3px;
			float: left;
			border: none;
		}
		#search-bar__input:focus {
			outline: none;
		}
		#search-bar__input-sibling {
			border: 1px solid transparent;
			height: inherit;
			padding: 3px;
		}
		#search-bar__input:focus + div {
			border: 1px solid #3d87ec;
		}
		svg {
			// top: 1px;
			// margin: 3px;
			float: right;
		}
	}
}