/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import 'bootstrap';

* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// #circuit {
// 	background: url('circuit.png') center no-repeat;
// 	width: 400px;
// 	height: 200px;
// 	background-size: cover;
// }

body {
		// background: url('circuit.png') center no-repeat;
		// background-size: cover;
	min-height: 100%;
	width: 100%;
	&.landing {
		height: 100vh;
	}
	&.results {
		height: auto;
		min-height: 100vh;
	}
	top: 0;
	left: 0;
}
.page-container {
	min-height: 638px;
	height: 100%;
	min-width: 1024px;
	
}
.page-container__header {
		text-align: right;
		padding-top: 10px;
		padding-right: 20px;
}
.header__icons {
	display: inline-block;
	float: right;
	margin-top: 7px;
	.profile-icon {
		display: inline-block;
		cursor: pointer;
		background: url('pic.png') center no-repeat;
		background-size: cover;
		width: 32px;
		height: 32px;
		border-radius: 150px;
	}
}
.fakeicon.hiding {
	.overlay {
		display: none;
	}
}
.fakeicon {
	cursor: pointer;
	font-size: 24px;
	display: inline-block;
	vertical-align: top;
	// margin: 6px;
	position: relative;
	[class^="icon-"], [class*=" icon-"] { 
		margin: 6px 10px;
	}
	.profile-icon {
		margin: 0px 10px;
	}
	.overlay {
		cursor: initial;
		font-size: 18px;
		position: absolute;
		right: 0;
		top: 110%;
		border: 1px solid rgba(0,0,0,0.2);
		border-radius: 2px;
		width: 277px;
		height: 189px;
		-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
		box-shadow: 0 2px 10px rgba(0,0,0,0.2);
		background: #f2f2f2;
		.overlay__title {
			vertical-align: top;
			height: 135px;
			width: 275px;
			border-bottom: 1px solid #CCC;
			line-height: 60px;
			font-weight: 500;
			text-align: left;
			padding-left: 8px;
			background: #FFF;
			.overlay__image {
				height: 75%;
				width: 37%;
				background: url("pic.png") center no-repeat;
				background-size: cover;
				display: inline-block;
				margin: 16px;
				border: 1px solid #c2c2c2;
			}
			.overlay__description {
				width: 136px;
				display: inline-block;
				vertical-align: top;
				.overlay__creator {
					line-height: initial;
					font-weight: bold;
					display: block;
					width: 136px;
					height: 30px;
					margin-top: 16px;
					font-size: 16px;
				}
				.overlay__info {
					line-height: initial;
					font-weight: 200;
					font-size: 15px;
				}
			}
		}
		
		.overlay__button {
			cursor: pointer;
			display: block;
			font-size: 14px;
			font-weight: bold;
			width: 110px;
			height: 30px;
			border: 1px solid #3079ed;
			border-radius: 2px;
			background: #4d90fe;
			color: #FFF;
			line-height: 25px;
			margin: 12px 20px 10px 83px;
			text-align: center;
		}
		.overlay__button:hover {
			text-decoration: none;
			background: #2f5bb7;
		}
	}

}
.page-container__child {
	padding: 16% 0px;
}

#logo {
	height: 130px;
	width: 100%;
	text-align: center;
	.logo__subtitle {
		margin-top: -10px;
		color: #666;
		font-weight: 500;
		span {
			color: initial;
			font-size: 18px;
		}
	}
}

form {
	text-align: center;
	#search-bar {
		background: #FFF;
		margin: auto;
		text-align: left;
		width: 572px;
		height: 32px;
		border: 1px solid #cdcdcd;
		#search-bar__input {
			height: 24px;
			width: 530px;
			margin: 3px;
			float: left;
			border: none;
			padding-left: 5px;
		}
		#search-bar__input:focus {
			outline: none;
		}
		#search-bar__input-sibling {
			margin: -1px;
			border: 1px solid transparent;
			height: inherit;
			padding: 3px;
		}
		#search-bar__input:focus + div {
			border: 1px solid #3d87ec;
		}
		.icon-mnone:before {
			font-size: 24px;
			cursor: pointer;
			float: right;
		}
	}
	#search-bar.result-page {
		margin: 0;
		display: inline-block;
	}
	.icon-search {
		display: inline-block;
		height: 32px;
		width: 64px;
		background: #3d87ec;
		vertical-align: top;
		position: relative;
		left: -2px;
	}
	.icon-search:before {
		font-size: 24px;
		cursor: pointer;
		color: #FFF;
		background: #3d87ec;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border: 1px solid #3d87ec;
	}
}

footer {
	font-family: arial, sans-serif;
	height: 40px;
	position: relative;
	bottom: 0;
	width: 100%;
	min-width: 1024px;
	background: #f2f2f2;
	&.landing {
		position: fixed;
	}
	&.results {
		position: relative;
	}
	.footer-link {
		display: block;
		height: 20px;
		position: absolute;
		color: #666;
		&.about {
			float: left;
			left: 30px;
			top: 12px;
		}
		&.settings {
			float: right;
			right: 30px;
			top: 12px;
		}
	}
}