<!DOCTYPE html>
<html>
<head>
  <title>Medigo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
<footer>
	<a href="#" class="footer-link settings">Settings</a>
	<a href="#" class="footer-link about">About</a>
</footer>
</html>
